<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une Requête</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Modifier une Requête</h1>
    <a href="/">
        <button>Home</button>
    </a>
    <form action="/update-query/{{ query.id }}" method="POST">
        <label for="query">Requête :</label><br>
        <textarea id="query" name="query" rows="4" cols="50" required>{{ query.query }}</textarea><br><br>

        <label for="tag">Tag :</label><br>
        <input type="text" id="tag" name="tag" value="{{ query.tag }}" required><br><br>

        <label for="query_type">Type de Requête :</label><br>
        <select id="query_type" name="query_type" required>
            <option value="domain" {% if query.query_type == 'domain' %}selected{% endif %}>Domaine</option>
            <option value="hash" {% if query.query_type == 'hash' %}selected{% endif %}>Hash</option>
            <option value="filename" {% if query.query_type == 'filename' %}selected{% endif %}>Nom de Fichier</option>
        </select><br><br>

        <input type="submit" value="Mettre à Jour">
    </form>
</body>
</html>
